.tileContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.tile {
  width: 400px;
  height: 400px;
  background-color: #f0f0f0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease-out;
  will-change: transform;
  border-radius: 10px;
}