.tileContainer {
  display: flex;
  flex-wrap: nowrap;
  gap: 50px;
}

.tileContainer.projects {
  animation: scrollProjects 40s linear infinite; /* Apply the scrolling animation */
}

.tileContainer.experience {
  animation: scrollExperience 50s linear infinite; /* Apply the scrolling animation */
}

.tileContainer.education {
  animation: scrollEducation 30s linear infinite; /* Apply the scrolling animation */
}

.tile {
  flex-shrink: 0;
  width: 400px;
  height: 400px;
  background-color: #f0f0f0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease-out;
  will-change: transform;
  border-radius: 10px;
}

@keyframes scrollProjects {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scrollExperience {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scrollEducation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}