@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
  --nav-background: #255230;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ffffff;
    --nav-background: #255230;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: monospace;
}

nav {
  background-color: var(--nav-background);
  color: #ffffff;
}

footer {
  background-color: var(--nav-background);
  color: #ffffff;
}

#fade {
  opacity: 0; /* Start fully transparent */
  animation: fadeIn 3s forwards; /* Apply fade-in animation */
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Start fully transparent */
  }
  to {
    opacity: 1; /* End fully visible */
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-animation {
  animation: fadeInOut 5s infinite; /* 5 seconds for each cycle */
  transition: opacity 0.5s ease-in-out;
}

/* Terminal cursor styles */
.terminal-cursor {
  background-color: currentColor;
  color: currentColor;
  display: inline-block;
  width: 0.6em;
  height: 1em;
  margin-left: 2px;
}

.terminal-cursor.blink {
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}

h1 {
  @apply md:text-7xl text-5xl font-extrabold italic;
}

h2 {
  @apply md:text-5xl text-2xl font-extrabold italic;
}

h3 {
  @apply font-bold italic text-2xl;
}

@media (min-width: 768px) {
  h3 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
}

h4 {
  @apply font-bold italic md:text-4xl text-xl;
}

h5 {
  @apply font-bold italic text-3xl;
}

h5 {
  @apply font-bold italic text-2xl;
}